<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <app-menu-content></app-menu-content>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Attendance System</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button class="menu-content">
  
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="attendace-content">
   
  </ion-content>
</div>